.main__section_rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 100%;
}

.content__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100%;
    width: 100%;
}

.content__li {
    cursor: pointer;
    position: relative;

    box-sizing: border-box;
}

.content__li__img {
    position: absolute;
    left: -5%;
    top: 45%;
}

.bottom {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.bottom__priceWrapper {
    display: flex;
    gap: 9px;
    align-items: center;
}