.main__section_left {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.section__btnContainer {
    display: flex;
}

.section__btnContainer_btn {
    display: block;
    padding: 16px 78px;
}